@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900);

* {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style: none;
}
body {
	font-family: 'Roboto';
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:root {
	--primary-color: #18181c;
	--secondary-color: #505050;
}

.container {
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 1rem;
}

.header,
.footer {
	color: #fff;
	background-color: var(--primary-color);
	padding: 1rem;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title {
	font-size: 2rem;
	font-weight: 700;
}

.header__link {
}

.footer {
}

.footer__container {
}

.footer__copyright {
	text-align: center;
}

.main {
	min-height: calc(100vh - 70px - 51px);
	background-color: #f7f7fb;
}

.goods {
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	padding: 2rem 0;
}

.card {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.3s ease-in-out 0s;
}
.card:hover {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.card__img {
	position: relative;
	padding-bottom: 100%;
}

.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card__info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex-grow: 1;
}
.card__title {
}
.card__description {
	flex-grow: 1;
}
.card__action {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: space-between;
}
.btn {
	padding: 0.75rem 2rem;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	transition: background-color 0.3s ease-in-out 0s;
	letter-spacing: 0.1rem;
	color: #fff;
}

.card__button:hover {
	background-color: var(--secondary-color);
}
.card__price {
}

.preloader,
.not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 70px - 51px);
}

.not-found {
	flex-direction: column;
	gap: 2rem;
}

.cart {
	padding: 1rem;
	background-color: var(--primary-color);
	color: #fff;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	border-radius: 5px;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out 0s;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	z-index: 5;
}
.cart:hover {
	background-color: var(--secondary-color);
}

@media (min-width: 767px) {
	.cart {
		bottom: unset;
		top: 6rem;
		cursor: pointer;
		z-index: 5;
	}
}
.cart__quantity {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background-color: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
	font-weight: 700;
}

.basket {
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	width: 50rem;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	animation: showModal 300ms ease-in-out;
}
.basket__header {
	font-size: 1.25rem;
	padding: 1rem 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.basket__list {
	display: grid;
	gap: 1rem;
}

.basket__close-icon {
	cursor: pointer;
}
.basket__body {
	flex-grow: 1;
	padding: 1rem;
}
.basket__footer {
	padding: 1rem 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1rem;
}

#total {
	text-align: right;
}

.basket__footer p {
	flex: 0 0 100%;
	text-align: right;
}

.basket__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.basket__item > div {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 2rem;
}

.basket__delete-item {
	cursor: pointer;
}

.basket__total {
	min-width: 5rem;
}

.basket__quantity-btn {
	font-size: 1.25rem;
	padding: 0.3rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: unset;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.basket__quantity-btn:hover {
	background-color: #dddddd;
}

.basket__quantity {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.basket__name {
	display: flex;
	flex-grow: 1;
}

.basket__btn-group {
	display: flex;
}

.basket__order-btn {
	background-color: var(--secondary-color);
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.basket__order-btn:hover {
	opacity: 0.8;
}

.alert {
	position: fixed;
	top: 6rem;
	right: 6rem;
	background-color: var(--primary-color);
	height: 60px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 1rem;
	animation: showModal 300ms ease-in-out;
}

@media (max-width: 767px) {
	.alert {
		top: unset;
		bottom: 2rem;
	}
}
.alert__body {
}

@keyframes showModal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
